h1 {
  text-align: center;
}

li {
  list-style: none;
  padding: 2px 0;
  font-size: 18px;
}

.bg-card {
  max-width: 700px;
  margin: auto;
  background: #fff;
  box-shadow: 4px 6px 16px 0 #bfbfbf;
  padding: 15px;
  border-radius: 5px;

}

.trough {
  text-decoration: line-through;
  color: lightcoral;
}

.del {
  width: 22px;
  height: 22px;
  background: #fff;
  border-radius: 50%;
  color: red;
  margin-left: 5px;
  cursor: pointer;
  transition: .2ms;

  &:hover {
    box-shadow: 0 0 6px 0 #bfbfbfb0;
  }
}

.adding {
  text-align: center;
  margin: 30px auto 10px;
  max-width: 700px;

  input {
    border: 1px solid #ccc;
    width: 300px;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: none;
    padding: 5px;
  }

  .add {
    font-size: 16px;
    margin-left: 15px;
    padding: 8px 20px;
    border-radius: 5px;
    background: #e2e2e2;
    border: none;
    cursor: pointer;
    transition: .2s;

    &:hover {
      background: #eaeaea;
    }

    &:focus {
      outline: none;
    }
  }

  .err {
    color: #ff6161;
    margin: 0;
    transition: .2s;
  }

  .show {
    display: block;
    margin: 30px auto;
    cursor: pointer;
  }
}
